body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    text-align: center;
}

h1 {
    color: #003366;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
    color: #003366;
}

input, textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dynamic-input {
    display: block;
    margin-top: 5px;
}

button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #002244;
}

.add-btn {
    background-color: #0055A4;
}

.add-btn:hover {
    background-color: #003D7A;
}

.submit-btn {
    background-color: #002244;
    font-size: 16px;
    width: 100%;
}

.submit-btn:hover {
    background-color: #00152E;
}
